
h1 { color: rgb(162, 92, 127);
text-align: center;
font-family: Monospace;
font-size: 50px;
}
body { background-color: rgb(240, 207, 228); }
h3 { color: rgb(204, 118, 161);
font-family: Times New Roman;
font-size: 20px;
text-align: center;}
p { color: rgb(204, 118, 161);
font-family: Monospace;
font-size: 12px;
text-align: center;}
h2 { color: rgb(204, 118, 161);
font-family: Monospace;
font-size: 18 px;
text-align: center;}
li { color: rgb(204, 118, 161);
font-family: Monospace;
font-size: 12px;
text-align: center;
list-style-position: inside;
padding-left: 0;}
ul em { color: rgb(204, 118, 161);
font-family: Monospace;
font-size: 12px;
text-align: center; 
list-style-position: inside;
padding-left: 0;
}
h4 { color: rgb(204, 118, 161);
font-family: Monospace;
font-size: 20px;
text-align: center; }
img { src: url("ditto.gif");
    width: 150px;
    height: 150px;
object-fit: cover;}
img { src: url("heartpop.gif");
display: block;
margin-left: auto;
margin-right: auto;
}
img { src : url("re.GIF");
align-items: left;
display: block;
}
a { color: rgb(253, 4, 128); }
#about { background-color: rgb(255, 219, 248);
border: 2px dotted rgb(204, 118, 161);
border-radius: 10px;
width: 50%;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
}
#games { background-color: rgb(255, 219, 248);
border: 2px dotted rgb(204, 118, 161);
border-radius: 10px;
width: 75%;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
padding: 10px
}
.games {
    display: grid;
  flex-direction: row;  
}

.image-container1 {
 display: flex;
 flex-direction: row;
 flex: wrap;
 align-items: space-evenly;
 gap: 0px; 
 padding: 10px;   
 flex-shrink: 0;   
 } 

 .image-container1 img {
  width: 150px;
 height: 100px;
 object-fit: cover;
 }